bin
obj
project.lock.json
/.vs
*.user
/Konscious.Security.Cryptography.Argon2/Properties/PublishProfiles
/Konscious.Security.Cryptography.Blake2/Properties/PublishProfiles
/publish
/**/BenchmarkDotNet.Artifacts/